html {
  display: block;
}
header {
  border-bottom: 1px solid #f9f7fe;
  padding-bottom: 30px;
  display: block;
}
.weather-app {
  background: white;
  max-width: 600px;
  margin: 60px auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  font-family: "Roboto", sans-serif;
}
.search-input {
  background-color: #f9f7fe;
  border: none;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  padding: 20px;
  width: 75%;
  border-radius: 6px;
}
.search-button {
  margin-left: 5px;
  font-size: 16px;
  background-color: #885df1;
  color: white;
  border: none;
  padding: 20px;
  line-height: 1;
  border-radius: 5px;
}
.current-weather {
  display: flex;
  justify-content: space-between;
}
h1 {
  font-weight: 900;
}
p {
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.current-temp {
  position: relative;
  top: 20px;

  font-weight: bold;
}
.sun {
  position: relative;
  top: -8px;
  font-size: 40px;
  margin-right: 10px;
}
.current-degrees {
  font-size: 80px;
}
.cel {
  position: relative;
  font-size: 28px;
  top: -38px;
}
strong {
  color: #f65282;
}
a {
  color: blue;
}
